####################################################################
# (C) Copyright 2023 Hewlett Packard Enterprise Development LP.
####################################################################

#######################################################################
# Name        : Prevalidation template
# Description : This template file has the required & optional attributes 
#               to generate configuration for prevalidation
#######################################################################
# Reachable_nodes attribute is to specify the nodes
# necessary for preinstall and preconfigure checks
# Default value will be current node
# Example- "reachable_nodes"=sgxjan4,sgxjan3
#validation_nodes=

# rpms_to_check attribute is to check the rpms
# necessary for preinstall and preconfigure checks
# Default value will be rpms
# Example- "rpms_to_check"=testrpm
#rpms_to_check=

#git_clone attribute is to get consent from user to 
#clone the repository.
#make sure to change it to "no" before using
#"--git-clone" option in cminstaller.
#Default value will be "no"
#Example- git_clone=no
#         git_clone=yes
git_clone=no
# check_distro attribute is to get consent from user to
# check the distribution of operating system
# Default value will be "yes"
# Example- "check_distro"="yes"
#          "check_distro"-"no"
check_distro=yes

# ports attribute is to check the ports availability
# which are necessary for preinstall and preconfigure checks
# Default value will be ports required
# Example- "ports"= 5511,5522
ports=5522,5511
